/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
/database/*.sqlite
/cloudflared/status/
/ТУННЕЛЬ-ОБОРВАЛСЯ.txt
/k8s/bot2-secret.yaml
/k8s/bot1-secret.yaml
/k8s/db-backup.sql
/k8s/grafana-admin.txt
/.env.bot2
